services:
  backend:
    build:
      context: ./backend
    command: npm run start:dev
    working_dir: /backend
    volumes:
      - ./backend:/backend
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    ports:
      - 8000:8000
  frontend:
    build:
      context: ./frontend
    command: npm start
    ports:
      - 3000:3000
    volumes:
      - ./frontend:/frontend
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    env_file:
      - ./frontend/.env
    restart: always
  database:
    image: postgres:latest
    env_file:
      - ./backend/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - 5432:5432
volumes:
  postgres_data: